<div class="d-flex justify-content-between border-bottom">
  <div class="p-4">
    <a routerLink="/"> <img class="logo" src="assets/LOGO1.png" /></a>
  </div>
  <div class="p-4">
    <a routerLink="/contact">Contact Us</a>
  </div>
  <div class="p-4">
    <a routerLink="/manufacturing">Manufacturing</a>
  </div>
  <div class="p-4">
    <a routerLink="/solar-gen">Solar Generation</a>
  </div>
  <div *ngIf="sharedService.getUserId() === ''" class="p-4">
    <a routerLink="/login">Login</a>
  </div>
  <div *ngIf="sharedService.getUserId() !== ''" class="dropdown p-4">
    <button
      class="dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ sharedService.getUserId() }}
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="logOutUser()">Logout</a></li>
    </ul>
  </div>
</div>
<!-- <app-login (eventEmitter)="setDefaultText($event)"></app-login> -->
