<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Contact Information</p>
              <p class="card-text">Welcome to Sole-Zon-Solis Energy, we are happy to anser any questions you might have about our services. Please fill out the contact us form and we will get back to your shortly!</p>
              <p class="card-text">Phone Number</p>
              <p class="card-text">Email Address</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                Power Generation (Power from Data Historian)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
