<div class="container d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Contact Information</p>
              <p class="card-text">
                Welcome to Sole-Zon-Solis Energy, we are happy to anser any
                questions you might have about our services. Please fill out the
                contact us form and we will get back to your shortly!
              </p>
              <p class="card-text">Phone Number</p>
              <p class="card-text">Email Address</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Contact Us Form</p>
              <form [formGroup]="contactForm" (ngSubmit)="loginContactInfo()">
                <div class="mb-3">
                  <label for="nameInput" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nameInput"
                    formControlName="nameInput"
                  />
                </div>
                <div class="mb-3">
                  <label for="emailInput" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="emailInput"
                    formControlName="emailInput"
                  />
                </div>
                <div class="mb-3">
                  <label for="phoneInput" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phoneInput"
                    formControlName="phoneInput"
                  />
                </div>
                <div class="mb-3">
                  <label for="fileUpload" class="form-label"
                    >File Upload (to FTP Server on Task Server)</label
                  >
                  <input class="form-control" type="file" id="fileUpload" />
                </div>
                <button type="submit" class="btn btn-primary mb-3">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
