<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Contact Information</p>
              <p class="card-text">
                Welcome to Sole-Zon-Solis Energy, we are happy to anser any
                questions you might have about our services. Please fill out the
                contact us form and we will get back to your shortly!
              </p>
              <p class="card-text">Phone Number</p>
              <p class="card-text">Email Address</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Contact Us Form</p>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Name</label
                >
                <input type="text" class="form-control" id="nameInput" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email</label
                >
                <input type="email" class="form-control" id="emailInput" />
              </div>
              <div class="mb-3">
                <label for="phoneNumberInput" class="form-label"
                  >Phone Number</label
                >
                <input type="text" class="form-control" id="phoneNumberInput" />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label"
                  >File Upload (to FTP Server on Task Server)</label
                >
                <input class="form-control" type="file" id="formFile" />
              </div>
              <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
