<div *ngIf="defaultText === 'Login'" class="container">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Login</p>
          <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="mb-3">
              <label for="userNameInput" class="form-label">User Name</label>
              <input
                type="text"
                class="form-control"
                id="userNameInput"
                formControlName="userNameInput"
              />
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordInput"
                formControlName="passwordInput"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="defaultText === 'Admin'" class="container">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="card">
        <p class="card-text">FTP Server View</p>
        <ul *ngFor="let file of files" class="list-group">
          <div class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="overflow-hidden">{{ file.name }}</div>
              <div>
                <img
                  *ngIf="file.isAvailable === true"
                  src="assets/icon-download.svg"
                />
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
