<div
  *ngIf="sharedService.getUserId() === ''"
  class="container d-flex align-items-center justify-content-center"
>
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Login</p>
          <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="mb-3">
              <label for="userNameInput" class="form-label">User Name</label>
              <input
                type="text"
                class="form-control"
                id="userNameInput"
                formControlName="userNameInput"
              />
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordInput"
                formControlName="passwordInput"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  *ngIf="
    sharedService.getUserId() !== '' && sharedService.getUserRole() !== 'Admin'
  "
  class="container d-flex align-items-center justify-content-center"
>
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Successfully Logged in :)</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div
  *ngIf="sharedService.getUserRole() === 'Admin'"
  class="container d-flex align-items-center justify-content-center"
>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="card">
        <p class="card-text">FTP Server View</p>
        <ul *ngFor="let contact of contactInfo" class="list-group">
          <div class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="overflow-hidden">{{ contact.filePath }}</div>
              <div>
                <a (click)="downloadFile(contact.filePath)"
                  ><img
                    src="assets/cloud-computing.png"
                    style="width: 24px; height: 24px;"
                /></a>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="sharedService.getUserRole() === 'Admin'"
  class="container d-flex align-items-center justify-content-center"
>
  <div class="card" style="width: 100%;">
    <p class="card-text">Emails</p>
    <div class="card-body">
      <div *ngFor="let contact of contactInfo; let i = index" class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link"
              type="button"
              data-bs-toggle="collapse"
              [attr.href]="'#' + i"
              aria-expanded="false"
            >
              {{ contact.email }}
            </button>
          </h2>
        </div>
        <div class="collapse" [id]="i">
          <div class="card card-body">
            {{ contact.email }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
