.content {
  position:absolute; top:200px; bottom:200px; left:0px; right:0px; overflow:auto
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/