<div class="container d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Manufacturing</p>
          <p class="card-text">
            Being part of the Vita Vehiculum family means ha we supprot the
            manufcturing of electiric vehicles (EV). Utilizing our solar
            genration, Vita Vehiculum has built a new electric vehicle
            manufacturing complex right here at Sonnerberg Fields. It provides
            the capability of building EV in aplant rung completely off solar!
            It is muvch more efficient than any of our competitors! Please reach
            out via the Contact Us page for more information regarding our EV
            manufacturing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
