<app-header></app-header>

<div class="container">
  <div class="card">
    <div class="card-body">
      <img class="img-1" src="assets/solar-pannel.jpg" />
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                List of Solar Arrays (Pulled from Data Historian)
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                Power Generation (Power from Data Historian)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
