<div class="container d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="card-body">
      <img class="img-1" src="assets/solar-pannel.jpg" />
    </div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="card section-2">
    <div class="card-body">
      <div class="card" style="margin-bottom: 40px;">
        <div class="card-body">Sonnenberg Fields</div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <!-- <p class="card-text">
                  List of Solar Arrays (Pulled from Data Historian)
                </p> -->
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Solar Status</td>
                    <td>Array Voltage</td>
                    <td>Array Current</td>
                    <td>Array Temp</td>
                    <td>Tracker Tilt</td>
                    <td>Tracker Azimuth</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of solarArr">
                    <th>{{ data.arrayID }}</th>
                    <td>{{ data.solarStatus }}</td>
                    <td>{{ data.arrayVoltage }}</td>
                    <td>@{{ data.arrayCurrent }}</td>
                    <td>{{ data.arrayTemp }}</td>
                    <td>@{{ data.trackerTilt }}</td>
                    <td>@{{ data.trackerAzimuth }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <!-- <p class="card-text">
                Power Generation (Power from Data Historian)
              </p> -->
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Array Voltage</td>
                    <td>Array Current</td>
                    <td>Power</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of solarArr">
                    <th>{{ data.arrayID }}</th>
                    <td>{{ data.arrayVoltage }}</td>
                    <td>@{{ data.arrayCurrent }}</td>
                    <td>{{ data.arrayVoltage * data.arrayCurrent }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
